version: "3"
services: 
    web:
        build: 
            context: .
            dockerfile: Dockerfile.dev
# i wanna use this environment variable to avoid the error 
# https://stackoverflow.com/questions/67087735/eacces-permission-denied-mkdir-usr-app-node-modules-cache-how-can-i-creat 
#        environment:
#          - CHOKIDAR_USEPOLLING=true
        volumes:
#          - /app/node_modules
          - .:/app
        ports: 
          - "3000:3000"
    
# second service to run tests (npm run test)
    tests:
        build:
            context: .
            dockerfile: Dockerfile.dev
        volumes: 
            - .:/app
        command: ["npm","run","test"]